node_modules/
*.tgz
examples/counter/dist/components/*
examples/counter/dist/containers/*
examples/counter/dist/index.*
.idea
npm-debug.log
examples/counter/typings/
src/typings/
typings/
tmp/
lib/
.nyc_output/
coverage/
*.ngsummary.json